*{
    padding: 0;
    margin: 0
}

.cnt {
    padding-top: 10px;
}

.contenedor{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

h1{
    text-align: center;
}